/*
    Z-index
*/

.cropper {z-index: 500;}
.cropper-box-img {z-index: 510; }
.cropper-box-img-img {z-index: 520; }
.cropper-crop { z-index: 530;}
.cropper-top-bar {z-index: 600;}
.cropper-shadow-pre {z-index: 700;}
.cropper-modal-pre {z-index: 710;}

/*
    Estrutura
*/


.ui-slider { margin-top:10px;}

.cropper {
    position: fixed; 
    top:20px; 
    left:20px; 
    right:20px; 
    bottom:20px;
    display:block; 
}
.cropper-top-bar {
    position: fixed;
    top:20px; 
    left:20px; 
    right:20px; 
    bottom:auto;
    height:29px;
    padding:0px;

}
.cropper-left-top-bar {
    width:50%;
    float:left;  
    padding:0px 0;
}
.cropper-slider-value{
    width:auto;
    height:20px;
    float:left;
    text-align: right;
    margin:5px 0 0 0;
}
.cropper-slider{
    width:90%;
    float:left;
}
.cropper-right-top-bar {
    width:50%;
    float:left;

}
.cropper-box-img {
    position: fixed;
    left:20px; 
    top:50px; 
    right:20px; 
    bottom:20px;
    overflow:hidden;
}
.cropper-crop {
    cursor: move;
    position:absolute; 
}
.cropper-box-img-img {position:absolute;}
.cropper-input { width: 40px; text-align: center;}
.cropper-draggable {cursor: move;}

.cropper-shadow-pre {
    display:none;  
    position: fixed; 
    top:21px; 
    left:21px; 
    right:21px; 
    bottom:21px; 
}
.cropper-modal-pre {
    display:none; 
    position: fixed; 
    top:50%; 
    left:50%; 
}


.cropper-options {
    padding:10px;
    top:21px; 
    left:21px; 
    right:21px; 
    bottom:auto;
    position:fixed;
    z-index:1200;
    padding:0px;
    display:block;
    height: 29px;
}

#cropper-btn-salvar { }
#cropper-btn-previsualizar {  }

.cropper-btn {
    text-decoration: none;
    display: inline-block;
    padding:3px 8px;
    margin: 2px 4px;
}

.right {float:right;}
.left {float:left;}